.about-page {
	position: relative;
	display: flex;
    justify-content: center;
	overflow: hidden;
	.about-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-top: 80px;
		// .right-bottom-bg {
		// 	position: fixed;
		// 	right: -213px;
		// 	bottom: -125px;
		// 	z-index: -1;
		// 	width: 280px;
		// 	overflow: hidden;
		// 	transform: rotate(-100deg);
		// }
		.contant-block {
			// margin-left: 300px;
			h2 {
				font-size: 16px;
				color: #222222;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 800;
				span {
					color: #fff;
					background: #5a1bcf;  /* fallback for old browsers */
					background: -webkit-linear-gradient(to right, #5a1bcf, #0657e9);  /* Chrome 10-25, Safari 5.1-6 */
					background: linear-gradient(to right, #5a1bcf, #0657e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					border-radius: 6px 0 0 6px;
					padding: 4px 2px 4px 14px;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
					margin-right: 2px;
				}
			}
		}
		p {
			padding-top: 20px;
		}
		.philosophy-title {
			font-weight: 700;
			text-align: center;
			padding: 32px;
		}
		.philosophy-block {
			.section-block-grey {
				padding: 90px 0px 90px 0px;
				background-color: #f9f9f9;
			}
			
			.serv-section-2 {
				position: relative;
				border: 1px solid #eee;
				background: #fff;
				box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
				border-radius: 5px;
				overflow: hidden;
				padding: 30px;
				min-height: 200px;
    			margin-bottom: 20px;
				&:hover {
					.section-heading-line-left {
						background: #5f27cd;
					}
				}
			}
			
			.serv-section-2:before {
				position: absolute;
				top: 0;
				right: 0px;
				z-index: 0;
				content: " ";
				width: 50px;
				height: 50px;
				background: #f8d954;
				border-bottom-left-radius: 136px;
				transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
			}
			
			.serv-section-desc {
				position: relative;
			}
			
			.serv-section-2 h4 {
				color: #454e57;
				font-size: 18px;
				font-weight: 700;
				line-height: 1.5;
				padding-right: 20px;
			}
			
			.serv-section-2 h5 {
				color: #333;
				font-size: 15px;
				font-weight: 400;
				line-height: 1;
				margin-top: 5px;
			}
			
			.section-heading-line-left {
				content: '';
				display: block;
				width: 100px;
				height: 3px;
				background: #f8d954;
				border-radius: 25%;
				margin-top: 15px;
				margin-bottom: 5px;
			}
			
			.serv-section-2 p {
				margin-top: 25px;
				padding-right: 50px;
			}
			
			.serv-section-2:hover .serv-section-2-icon i {
				color: #fff;
			}
			
			.serv-section-2:hover:before {
				background: #5f27cd;
			}
		}
	}
}